</div>
<footer class="footer">
<hr />
        <p class="pull-right"><a href="#">Volver arriba</a></p>
        <p>1000 Ideas en un proyecto de <a href="http://nim.io/" target="_blank">NIMIO</a>.</p>
        <p>Potenciado por <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        <p>Icons desde <a href="http://glyphicons.com">Glyphicons Free</a>, con licencia <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
      </footer>
</div>
</body>
</html>