body{
	background: url(../images/back2.png) #eaeaea;
	background-size: 1200px 1200px;
	background-attachment: fixed;
}

nav ul li a {
color: white;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
padding: 0 21px;
float:left;
border-right: solid 1px #032E54;
border-left: solid 1px #0D4B79;
line-height: 46px;
height: 42px;
margin-top: 1px;
display: block;
font-size: 12px;
}


nav ul, nav li {
padding: 0;
margin: 0;
list-style: none;
list-style-image: none;
cursor: pointer;
}

.justo{
	text-align: justify;
}

nav {
	width: 1024px;
	height: 43px;
	background: url(../images/nav-bg.png) no-repeat;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	z-index: 2;
}

a:hover {
	color: #eaeaea;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

#wrap{
height:600px;
width:1024px;
margin-left: auto;
margin-right: auto;
}

#header{
height:100px;
width: 100%;
}

#logo{
width:170px;
height:92px;
float:left;

}

#main-content{
width:1024px;
height:500px;
margin-top: 80px;
}

#logo img{
height:92px;
width:170px;
margin-left:-10px;
}

#content{
height:600px;
width:600px;
color: #fff;
font-size: 14px;
float: left;
}

#foot{
height:100px;
float:left;
margin-left: 0px;
bottom: 150px;
background-color: #000;
opacity:0.8;
width:1024px;
position: relative;
border-radius: 10px;
overflow:hidden;
}

#contact-form{
       width:149px;
       height:245px;
       float: left;
       margin-left:240px;
       margin-top:160px;
}

#data{
       float: right;
       width: 280px;
       height: 300px;
       margin-top:145px;
       margin-right:1px;
}
textarea#styled {
        width: 125px;
        height: 80px;
        border: 3px solid #cccccc;
        padding: 5px;
}

input[type=text] {
        width: 125px;
        height: 12px;
        border: 3px solid #cccccc;
        padding: 5px;
}