body{
	background: url(../images/back2.png) #eaeaea;
	background-size: 1200px 1200px;
	background-attachment: fixed;
	font-family: 'Montserrat', sans-serif;
}

.slider-side{
	width: 301px;
	height:400px;
	z-index:999;
	position: absolute;
	margin-left:723px;
	float: right;
	color: #fff;
	
}

.blues{
	color:#00547A;
}

.slider-content{
	margin-left:10px;
}

.slider-wrapper{
	width:1024px;
	height:460px;
}

.alpha60 {
/* Fallback for web browsers that doesn't support RGBa */
background: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background: rgba(0, 0, 0, 0.7);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

nav ul li a {
color: white;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
padding: 0 21px;
float:left;
border-right: solid 1px #032E54;
border-left: solid 1px #0D4B79;
line-height: 46px;
height: 42px;
margin-top: 1px;
display: block;
font-size: 12px;
}


nav ul, nav li {
padding: 0;
margin: 0;
list-style: none;
list-style-image: none;
cursor: pointer;
}

.justo{
	text-align: justify;
}

nav {
	width: 1024px;
	height: 43px;
	background: url(../images/nav-bg.png) no-repeat;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	z-index: 2;
}

a:hover {
	color: #F9A84B;
	text-decoration: none;
}

a {
	text-decoration: none;
}

html {
	height: 100%;
}

#wrap{
height:600px;
width:1024px;
margin-left: auto;
margin-right: auto;
}

#header{
height:100px;
width: 100%;
}

#logo{
width:170px;
height:92px;
float:left;

}

#main-content{
width:1024px;
height:500px;
margin-top: 10px;
}

#logo img{
height:92px;
width:170px;
margin-left:-10px;
}

#content{
height:600px;
width:600px;
color: #fff;
font-size: 14px;
float: left;
}

#foot{
height:100px;
float:left;
margin-left: 0px;
bottom: 150px;
background-color: #000;
opacity:0.8;
width:1024px;
position: relative;
border-radius: 10px;
overflow:hidden;
}